img {
  width: 400px;
  display: block;
  margin: 0% auto;
}
body {
  background-color: beige;
}
h1,
p {
  text-align: center;
}
a:visited {
  color: brown;
}
.links {
  color: orange;
  text-align: center;
}
